<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/components.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="list-container">
      <a href="../articles/test-article.html">
        <img
          src="../image-content/html-semantic.jpg"
          alt="html-semantic"
          class="list-image"
        />
        <div class="list-text">
          <p class="list-link">HTML Semantic</p>
        </div>
      </a>
    </div>
  </body>
</html>
