.article__list {
  padding: 0;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 75vh;
}

.article__list li {
  list-style: none;
  width: 14.2rem;
  border: 0.1rem solid rgb(4, 72, 132);
  text-align: center;
  height: 220px;
}

.article__list a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.article__list img {
  height: 10rem;
  width: auto;
  border-bottom: 1px solid rgb(4, 72, 132);
}
