body>* {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.article-container {
  display: flex;
}

.nav {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.article__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.article__list li {
  width: fit-content;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

/* .article__list a>* {
  display: block;
}


.article__list a>img {
  width: 10rem;
}

.article__list a>span {
  text-align: center;
} */