img {
  max-width: 100%;
}

body>* {
  max-width: 100%;
}

body {
  font-family: arial;
  border-top: 10px solid rgb(4, 72, 132);
  margin: 0;
}

/* a {
  text-decoration: none;
  color: black;
} */

.container {
  width: 1250px;
  margin: 0 auto;
}

.article-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 10px 20px;
}

.header h1 {
  text-transform: uppercase;
  color: rgb(18, 156, 190);
}

.nav {
  padding: 0;
}

.nav-content {
  text-decoration: none;
  font-size: 20px;
  height: auto;
  margin-right: 10px;
  color: #2159c0;
}

.nav-content:visited {
  color: #2159c0;
}

.nav-content:hover {
  color: #0f5ef1;
}

.nav-content:last-child {
  margin-right: 0;
}

.article__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.article__list li {
  width: fit-content;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.list-link {
  color: black;
}

.img-content {
  width: 1250px;
}

/* .article__list a>* {
  display: block;
}


.article__list a>img {
  width: 10rem;
}

.article__list a>span {
  text-align: center;
} */